.App {
  max-width: 600px;
  margin: 30px auto;
}

.App a {
  color: #393e5b;
}

.App a:hover {
  text-decoration: none;
  color: #6872a7;
}

.App .footer-link {
  color: #393e5b;
  text-decoration: underline;
}

.App .footer-link:hover {
  color: #393e5b;
  text-decoration: underline;
}
.App .footer {
  color: #393e5b;
  margin: 10px 0;
  font-size: 14px;
}
